*{
    line-height: 1 !important;

}

#company-logo{
    width: 10rem;
}

html{
    background-color: #212529;
    
}

#button-set{
    margin-right: 0;
}

#customer-details-outline{
    border: 2px white solid;
    border-radius: 15px;
}

.poppins-font{
    font-family: 'Poppins',sans-serif;
}

.open-sans-font{
    font-family: 'Open-sans',sans-serif;
}

#item-cart-adding-outline{
    border: 2px white solid;
    border-radius: 15px;   
}

#scan-barcode-outline{
    border: 2px white solid;
    border-radius: 15px;   
}

#item-details-outline{
    border: 2px solid white;
    border-radius: 15px;
}

#item-name-container{
    background-color: #2980b9;
    border-radius: 20px;

}

#item-price-container{
    background-color: #e74c3c;
    border-radius: 10px;
}

#shortCutPanelOutline{
    border: 2px solid white;
    border-radius: 15px;
}

#cart{
    border-radius: 15px;
    border: 2px solid white;
}